$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

/* Import colors */
@import 'utils/colors';

/* Import Compass mixins */
@import 'compass/css3/transition';

/* Older browsers upgrade recommendation */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Import other stylesheets */
@import 'partials/navbar';
@import 'partials/footer';
