<div ng-include="'partials/header'"></div>

<div class="owner-profile">
  <div class="header">
    <div class="background"></div>
    <div class="container">
      <div class="col-avatar pull-left">
        <img class="avatar" ng-src="{{owner.info.avatar.url}}" alt="{{owner.info.name}}">
      </div>

      <div class="col-text pull-left">
        <span class="name">{{owner.info.name}}</span><br>
        <span class="description">{{owner.info.description}}</span>
      </div>

      <div class="col-about pull-right">
        <span class="about-cats">Proud owner of 3<!--{{owner.cats.length}}--> cats</span><br>
        <span class="about-gender">Male<!--{{owner.info.gender}}-->, born on Jan 15, 1974<!--{{owner.info.born}}--></span><br>
        <button class="btn btn-info about-follow">Unfollow</button>
      </div>
    </div>
  </div>

  <nav class="nav-tabs" role="navigation">
    <div class="container">
      <ul class="nav-tabs-list">
        <li class="nav-tab" is-active="/owner/{{owner._id}}">
          <a ng-href="/owner/{{owner._id}}">About</a>
        </li>
        <li class="nav-tab" is-active="/owner/{{owner._id}}/hearted">
          <a ng-href="/owner/{{owner._id}}/hearted">Hearted</a>
        </li>
        <li class="nav-tab" is-active="/owner/{{owner._id}}/albums">
          <a ng-href="/owner/{{owner._id}}/albums">Albums</a>
        </li>
      </ul>
      <ul class="nav-tabs-list pull-right">
        <li ng-repeat="cat in owner.cats" class="nav-tab">
          <a ng-href="/cat/{{cat._id}}">{{cat.info.name}}</a>
        </li>
      </ul>
    </div>
  </nav>

  <section class="well wip container">
    <p>Page in progress :)</p>
  </section>
</div>

<div ng-include="'partials/footer'"></div>