/* Explore */
.explore .pagination-wrapper {
  text-align: center;
}

.explore section {
  margin-top: 15px;

  .row {
    margin: 10px -10px 20px;

    .col-md-3 {
      padding-left: 10px;
      padding-right: 10px;
      overflow: hidden;
    }
  }

  .cat-photo {
    width: 100%;
    display: block;
    cursor: pointer;
    background-size: cover !important;
    background-position: center !important;
    box-shadow: inset 0 -70px 50px -40px rgba(0,0,0,0.6);

    &:hover .paws-number .text {
      transform: translateY(-30px);
      opacity: 1;
    }
  }

  .cat-name {
    font-size: 20px;
    margin-bottom: -5px;
    position: absolute;
    bottom: 11px;
    left: 18px;
    padding: 1px 4px;
    border-radius: 3px;
    transition: background 0.15s linear;
    text-decoration: none;

    &:hover {
      background: rgba(224, 224, 224, 0.3);
    }
  }

  .paws-number {
    position: absolute;
    bottom: 8px;
    right: 23px;

    .text {
      font-size: 18px;
      margin-right: 5px;
      display: inline-block;
      position: relative;
      bottom: -30px;
      opacity: 0;
      transition: all 0.2s;
    }

    .fa-heart {
      font-size: 25px;
    }
  }

  .cat-name, .paws-number {
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
}
