/* Navbar */
/* Wrap navbar in a div for full-width background */
.navbar-wrapper {
  background: $color-flat-carrot;
  border-bottom: 3px solid $color-flat-pumpkin;

  nav {
    background: none;
    margin-bottom: 0;
    border: none;
    border-radius: 0;

    .navbar-brand {
      @include single-transition(background-color, 0.2s, linear);
      color: #fff;
      font-weight: 300;

      &:hover, &.active {
        background: $color-flat-pumpkin;
        color: #fff;
      }
    }

    .navbar-collapse > ul > li {
      @include single-transition(background-color, 0.2s, linear);

      &.active a, &.active a:hover {
        background: $color-flat-pumpkin;
        color: #fff;
      }

      &:hover {
        background: $color-flat-pumpkin;
      }

      &:hover a, a {
        color: #fff;
        font-size: 19px;
        font-weight: 300;
      }
    }
  }
}
