/* Navbar */
/* Wrap navbar in a div for full-width background */
.navbar-wrapper {
  background: $color-flat-carrot;
  margin-bottom: 20px;
  border-bottom: 2px solid $color-flat-pumpkin;

  nav {
    background: none;
    margin-bottom: 0;
    border: none;
    border-radius: 0;

    .navbar-brand, .navbar-collapse > ul > li a {
      color: #fff;
    }
  }
}
