<div ng-include="'partials/header'"></div>

<div class="explore">
  <section class="container">
    <div class="row" ng-repeat="row in pages.0">
      <div class="col-md-3" ng-repeat="photo in row">
        <a class="cat-photo" ng-href="/cat/{{photo.cat._id}}/photo/{{photo._id}}" ensure-equal-size ng-style="{'background-image': 'url(' + photo.url + ')'}">
          <span ng-href="/cat/{{photo.cat._id}}" class="cat-name">{{photo.cat.info.name}}</span>
          <div class="paws-number">
            <span class="text">{{photo.cat.meta.paws}}</span>
            <i class="fa fa-heart"></i>
          </div>
        </a>
      </div>
    </div>
  </section>

  <div class="pagination-wrapper container">
    <ul class="pagination">
      <li ng-class="{disabled: isPreviousDisabled()}"><a ng-click="goPrevPage()">&laquo; Previous</a></li>
      <li ng-class="{active: isPageActive(page)}" ng-repeat="page in paginationPages"><a ng-click="goPage(page)">{{page}}</a></li>
      <li ng-class="{disabled: isNextDisabled()}"><a ng-click="goNextPage()">Next &raquo;</a></li>
    </ul>
  </div>
</div>

<div ng-include="'partials/footer'"></div>
