/* General styling */
html {
  height: 100%
}

body {
  height: 100%;
  background: white;
  font-family: $font-lato;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-lato;
}

a {
  cursor: pointer;
}

.btn {
  transition: background 0.1s linear;
}

[ng-view] {
  height: 100%;
}
